* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.menu_bar {
    display: none;
}

.bt-menu {
    display: none;
}

header {
    position: fixed;
    background: #81020e;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    font-size: 16px;
    top: 0;
}

nav {
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    nav .logo {
        display: inline-block;
        margin-right: 1em;
    }

        nav .logo img {
            padding-top: 5px;
            vertical-align: central;
            height: 60px;
        }

header nav ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}

    header nav ul a:hover {
        background: #85202a;
    }

    header nav ul i {
        margin-right: 5px;
    }

    header nav ul li {
        display: inline-block;
        position: relative;
    }

        header nav ul li a {
            color: #ffffff;
            display: block;
            text-decoration: none;
            padding: 1em;
            text-align: center;
        }

        header nav ul li:hover .children {
            display: list-item;
            background: #81020e;
        }

        header nav ul li .children {
            display: none;
            position: absolute;
            width: 150%;
            z-index: 1000;
        }


            header nav ul li .children li {
                display: block;
                overflow: hidden;
                border-bottom: 1px solid rgba(255,255,255,.5);
            }

                header nav ul li .children li a {
                    display: block;
                }

                header nav ul li .children li i {
                    margin-right: 5px;
                }

.main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}
/*Media Query*/
@media screen and (max-width:700px) {
    body {
        padding-top: 40px;
    }

    nav {
        width: 45%;
        height: calc(100% - 106px);
        position: fixed;
        left: -100%;
        margin-top: 106px;
        background: #81020e;
        align-items: initial;
        flex-direction: column;
    }

        nav .logo {
            display: none;
        }

        nav ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

    .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        background: #81020e;
    }

        .menu_bar a {
            display: inline-block;
            padding: 20px;
            color: #ffffff;
            overflow: hidden;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }

        .menu_bar .bt-bar i {
            float: left;
            font-size: 40px;
            margin-top: 8px;
            align-items: flex-end;
        }

        .menu_bar img {
            padding-top: 5px;
            vertical-align: central;
            height: 60px;
        }

    nav a {
        font-size: 15px;
        width: auto;
    }

    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

        header nav ul li a {
            display: block;
        }

        header nav ul li .children {
            width: 100%;
            position: relative;
        }

            header nav ul li .children li a {
                margin-left: 20px;
            }

        header nav ul li .fa-caret-down {
            float: right;
        }

        header nav ul li:hover .children {
            display: none;
        }
}
/*Efectos de Menu*/
.headroom {
    transition: transform .5s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
